{% load staticfiles %}
    <script type="application/javascript" src="{% static 'scheduler_engine/vendor/fullcalendar/lib/moment.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'scheduler_engine/vendor/fullcalendar/fullcalendar.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'scheduler_engine/vendor/fullcalendar/locale-all.js' %}"></script>
    <script type="application/javascript">
        jQuery(document).ready(function()
        {
            jQuery('#calendar').fullCalendar({
                locale: "{{ locale }}",
                header: {
                    left: 'prev,next',
                    center: 'title',
                    right: ''
                },
                defaultView: 'agendaWeek',
                nowIndicator: true,
                buttonIcons: false, // show the prev/next text
                weekNumbers: false,
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                eventLimit: false, // allow "more" link when too many events
                minTime: "08:00:00",
                maxTime: "22:00:00",
{#                hiddenDays: [6,0],#}
                businessHours: [ // specify an array instead
                    {
                        dow: [ 1, 2, 3, 4, 5, 6, 0 ], // Monday, Tuesday, Wednesday
                        start: '08:00', // 8am
                        end: '22:00' // 6pm
                    }
                ],
                events: [
                    {% for event in events %}
                        {
                            title: "{{ event.name }}",
                            start: "{{ event.start|date:"Y-m-d" }}T{{ event.start|date:"H:i:s" }}",
                            end: "{{ event.end|date:"Y-m-d" }}T{{ event.end|date:"H:i:s" }}",
                        {% if event.color %}
                            color: "{{ event.color }}",
                        {% endif %}
                        {% if event.url %}
                            url: "{{ event.url }}",
                        {% endif %}
                        },
                    {% endfor %}
                ],
                eventClick: function(calEvent, jsEvent, view)
                {


{#                    alert(#}
{#                            calEvent.title + ": \n" +#}
{#                            moment(new Date(calEvent.start)).format("YYYY-MM-DD HH:mm") + "-" +#}
{#                            moment(new Date(calEvent.end)).format("YYYY-MM-DD HH:mm")#}
{#                    );#}

                    // change the border color just for fun
                    jQuery(this).css('border-color', 'red');

                },
                selectable: true,
                select: function(start, end) {


                    var formated_data = moment.utc(new Date(start)).format("YYYY-MM-DD HH:mm");
                    console.log(moment()<start);
                    if(moment()<start)
                    {
                        if (schedule_location)
                        {
    				        location.href = schedule_location()+"?start="+formated_data;
                        }
                    }
                    else
                    {
                        alert("No puede agendar una tutoría en el pasado");
                    }

			    }

            });

        })
    </script>